.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    

    li {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            padding: 0;
            margin: 0 20px;
            font-size: 30px;
            line-height: 34px;
            color: #1F2FC7;
            background-color: transparent;
            border: 3px solid #1F2FC7;
            border-radius: 20px;
            cursor: pointer;
            transition: 1s all;

            &:hover {
                background-color: #FFF500;
            }
        }

        &.active{
            button {
                border: 5px solid #FFF500;
            }
            
        }
    }
}

@media (max-width: 768px) {
    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 100%;
        
    
        li {
            button {
                width: 30px;
                height: 30px;
                padding: 0;
                margin: 0 8px;
                font-size: 20px;
                line-height: 24px;
                border-radius: 10px;
            }
        }
    }
}